* {
  font-family: "IBM Plex Sans", sans-serif;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}
.logo {
  border-bottom: solid 1px rgb(196, 196, 196);
  display: flex;
  padding: 10px;
}

/* # # # # # # # # # # # # HEADER # # # # # # # # # # # # */

header {
  display: flex;
  align-items: center;

  padding: 25px;
  text-align: start;
}
h1 {
  font-size: 1.5rem;
}
header div {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
header p {
  color: grey;
}

/* C'est picture qui contraint la hauteur du header */
header picture {
  border-radius: 20px;
  height: 150px;
}
header img {
  height: 100%;
  border-radius: 7px;
}

/* # # # # # # # # # # # # MAIN # # # # # # # # # # # # */
.contentAndBasket {
  display: flex;
  background-color: #f4f5f5;
  padding-top: 20px;
}

/* # # # # # # # # # # # # BASKET # # # # # # # # # # # # */

/* toute la bande de droite qui contient le panier */
.sectionBasket {
  width: 30%;
}

/* Le panier lui meme*/
.basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  position: sticky;
  top: 30px;
  margin-top: 30px;
  margin-right: 30px;
}

/* le bouton valider */

.basket > button {
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  background-color: #00cdbd;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.basket .boutongris {
  background-color: rgb(182, 179, 179);
}

/* un item dans le basket */
.basket nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 10px;
  font-size: 0.8rem;
  white-space: nowrap;
  align-items: center;
}

/* les boutons plus et moins */
.basket nav button {
  flex: 0 0 auto;
  font-size: 1rem;
  border-radius: 50%;
  height: 1.5rem;
  line-height: 50%;
  width: 1.5rem;
  border: solid 1.5px #00cdbd;
  color: #00cdbd;
  margin: 7px;
  transform: scale(0.8);
}
.basket nav button:hover {
  cursor: pointer;
}

/* le 4eme item qui est qui est le nom */
.basket nav span:nth-child(4) {
  width: 100%;
  overflow: scroll;
  margin-right: 10px;
}

.basket h2 {
  padding-left: 0px;
}

nav + div {
  /* background-color: rgb(215, 213, 213); */
  border-bottom: solid 1px rgb(214, 211, 211);
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* dans le cas ou le panier est vide */
.paniervide {
  padding: 30px;
}

/* # # # # # # # # # # # # CONTENT # # # # # # # # # # # # */

.content {
  width: 70%;
}

/* ici CONTRAINTE max 800px du conteneur des dishes*/

.categorie {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
}
h2 {
  text-align: start;
  padding-left: 25px;
}
/* # # # # # # # # # # # # DISHES # # # # # # # # # # # # */

/* dishes contraint la HAUTEUR FIXE - largeur 40%*/
.dishes {
  flex: 0 0 40%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  transition: all 0.3s;
}
.dishes:hover {
  box-shadow: 8px 8px 20px #cdcccc;
  cursor: pointer;
}

.dishes nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  text-align: start;
}

.dishes nav div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
h3 {
  font-size: 1rem;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.dishes p {
  font-size: 0.7rem;
  /* overflow: scroll; */
  color: rgb(157, 157, 157);

  position: relative;
  height: 3.6em; /* exactly three lines */
  overflow: hidden;
}
.dishes p:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 50%
  );
}

.dishes span {
  font-size: 0.8rem;
  color: rgb(157, 157, 157);
  font-weight: bold;
}

.dishes h4 {
  font-size: 0.8rem;
  font-weight: normal;
  color: #ff8000;
  padding: 0;
  margin: 0;
}

/* contrainte FIXE hauteur ET largeur d 'image*/
.dishes picture {
  width: 100px;
  height: 100px;
  margin-left: 15px;
  flex: 0 0 auto;
}

.dishes img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
